:root {
    --base-color: rgb(238, 234, 234);
    --base-variant: white;
    --primary-color: rgb(100, 28, 243);
    --textcolor: white;
    --secondary-text: rgb(7, 2, 17);
    --accent-color: white;
    --secondary-accent: white;
    --misc: white;
}

.darkmode {
    --base-color: rgb(24, 9, 53);
    --base-variant: white;
    --primary-color: rgb(70, 26, 157);
    --textcolor: white;
    --secondary-text: white;
    --accent-color: rgb(70, 26, 157);
    --secondary-accent: rgb(7, 2, 17);
    --misc: white;

}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--base-color);
    color: var(--textcolor);
}

#toggle-btn {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: rgb(70, 26, 157);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right:20px;
}

#toggle-btn:hover {
    border: 2px solid var(--misc);
}

#toggle-btn svg {
    fill: var(--misc);
}

#toggle-btn svg:last-child {
    display: none;
}

.darkmode #toggle-btn svg:first-child {
    display: none;
}

.darkmode #toggle-btn svg:last-child {
    display: block;
}

.top-sec {
    background: rgb(100, 28, 243);
    margin-top: -20px;

}
#title {
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 25px;
    
}

input {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid white;
    background: none;
    min-height: 65px;
    width: 70px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 45px;
    padding-left: 10px;
    padding-right:10px;
}

button {
    background: var(--accent-color);
    color: var(--secondary-text);
    padding: 10px 28px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}


.bottom-sec {
    background: var(--base-color);
    padding: 10px 25px;
    color: var(--secondary-text);
}

.unit-cont {
    background-color: var(--accent-color);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 25px 0;
}

.p-sec {
    color: var(--secondary-text);
    margin-top: -10px;
    font-size:smaller;
}